.footer {
    background-color: #007bff;
    /* Azul primário */
    color: white;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}